application/config/database.php
application/config/config.php
*/logs/*
!*/logs/index.html
*/cache/*
!*/cache/index.html
*/backups/*
!*/backups/index.html
user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer/build/*
user_guide_src/cilexer/pycilexer/dist/*
nbproject/
project.xml
.idea/
.vscode/
.DS_Store
thumbs.db
composer.lock
vendor/
node_modules/
*.sql
*.zip
*.bak
*.log
application/config/*.json
